.header {
  display: flex;
  height: 7.2vh;
  background: #14904C;
}

.text {
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  position: absolute;
  left: 21px;
}