.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #E9E9E9;
}

.tabMenu {
  height: 9.5vh;
  width: 100vw;
  background: #FFF;
  box-shadow: 0px -1px 15px 0px rgba(0, 0, 0, 0.25);
  flex-shrink: 0;
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: row;
}

.tabElement {
  flex-direction: column;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 17%;
  height: 80%;

  color: #B3B3B3;
  font-size: 7px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.tabElementActive {
  flex-direction: column;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 17%;
  height: 80%;

  color: #14904C;
  font-size: 7px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}